/*
 |----------
 | Search item
 |--------------------
 */
.search-item {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	padding: 6px;
	box-shadow: none;
	transition: box-shadow 0.2s;
}
.search-item:last-child {
	margin-bottom: 15px;
}
.search-item:hover {
	background-color: rgba(0, 238, 255, 0.2);
	box-shadow: 0 15px 21px -15px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);*/
	/*box-shadow: 0 1px 4px rgba(41, 51, 57, 0.5);*/
}
.search-item .row {
	margin-left: -5px;
	margin-right: -5px;
}
.search-item .row > [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
.search-item .media-object {
	border: 1px solid #ddd;
	background-color: white;
	width: 96px;
}
.search-item .media-heading {
	font-size: 20px;
}
.search-item .media-heading a {
	color: inherit;
}
.search-item .media-heading a:hover,
.search-item .media-heading a:focus {
	color: #05aaff;
	text-decoration: none;
}
.search-item .price {
	text-align: right;
}
.search-item .rating {
	margin-top: -5px;
}
.search-item .btn {
	padding: 6px 20px;
}

@media (max-width: 767px) {
	.search-item .deal {
		border-top: 1px solid #ddd;
		padding-top: 5px;
	}
	.search-item .price {
		text-align: left;
	}
	.search-item .btn {
		padding: 4px 8px;
		width: 100%;
	}
}

/*
 |----------
 | Sidebar navigation & friends
 |----------------------------------------
 */
@media (max-width: 991px) {
	.sidenav {
		position: fixed;
		top: 0;
		left: 0;
		width: 260px;
		height: 100%;
		border-width: 0;
		overflow-y: auto;
		z-index: 10;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.5s 0s;
		-moz-transition: -moz-transform 0.5s 0s;
		transition: transform 0.5s 0s;

		/* This creates the subtle slide in animation of the navigation */
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.sidenav .flat-title {
		color: #eee;
		border-bottom-width: 0;
		background-color: #057;
	}
	.sidenav.active {
		/*box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.14), 1px 0 5px 0 rgba(0, 0, 0, 0.12), 3px 0 1px -2px rgba(0, 0, 0, 0.2);*/
		box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	#sidenav-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9;
	}
}
